ngx-dropzone{
  background-color: #F1FFF0 !important;
  margin-bottom: .3rem;
  border: 1px dashed #009247 !important;
}
.viewImg{
  border: 1px dashed #009247 ;
  background-color: #F1FFF0;
  padding: .4rem;
}
