<h2 class="auth-title">Reset Password</h2>
<p class="auth-text">
  If you already have an account register <br />
  You can
  <span>
    <a routerLink="/auth/login">Login here!</a>
  </span>
</p>

<form [formGroup]="resetPasswordForm" (ngSubmit)="sendData(resetPasswordForm)">

  <app-auth-inputs formControlName="email" type="email" label="Email" placeholder="Please type here ..." id="Email"
    value="">
  </app-auth-inputs>
  <small class="warning-text"
    *ngIf="resetPasswordForm?.get('email')?.invalid && resetPasswordForm?.get('email')?.touched">
    <span *ngIf="resetPasswordForm?.get('email')?.errors?.['required']">Email is required.</span>
    <span *ngIf="resetPasswordForm?.get('email')?.errors?.['email']">Enter a valid email.</span>
  </small>


  <app-auth-inputs formControlName="seed" type="text" label="OTP" placeholder="Please type here ..." id="OTP" value="">
  </app-auth-inputs>
  <small class="warning-text"
    *ngIf="resetPasswordForm?.get('seed')?.invalid && resetPasswordForm?.get('seed')?.touched">
    <span *ngIf="resetPasswordForm?.get('seed')?.errors?.['required']">otp is required.</span>
  </small>

  <app-auth-inputs formControlName="password" [type]="isPasswordHidden ? 'password' : 'text'" label="password"
    placeholder="Please type here ..." id="password" value="">
    <a (click)="isPasswordHidden = !isPasswordHidden">
      <span
        class="material-icons eye-icon">
        {{ isPasswordHidden ? 'visibility_off' : 'visibility' }}
      </span>
    </a>
  </app-auth-inputs>
  <small class="warning-text" *ngIf="resetPasswordForm?.get('password')?.touched">
    <span *ngIf="resetPasswordForm?.get('password')?.errors?.['required']; else checkMinLength">
      Password is required.
    </span>
    <ng-template #checkMinLength>
      <span *ngIf="resetPasswordForm?.get('password')?.errors?.['minlength']; else checkPattern">
        Password must be at least 6 characters.
      </span>
    </ng-template>
    <ng-template #checkPattern>
      <span *ngIf="resetPasswordForm?.get('password')?.errors?.['pattern']">
        The password must include at least one lowercase letter,
        one uppercase letter, one digit, and one special
        character.
      </span>
    </ng-template>
  </small>

  <app-auth-inputs formControlName="confirmPassword" [type]="isConfirmPasswordHidden ? 'password' : 'text'"
    label="Confirm password" placeholder="Please type here ..." id="confirmPassword" value="">
    <a (click)="isConfirmPasswordHidden = !isConfirmPasswordHidden">
      <span
        class="material-icons eye-icon">
        {{ isConfirmPasswordHidden ? 'visibility_off' : 'visibility' }}
      </span>
    </a>
  </app-auth-inputs>
  <small class="warning-text" *ngIf="resetPasswordForm?.get('confirmPassword')?.touched">
    <span *ngIf="resetPasswordForm?.get('confirmPassword')?.errors?.['required']; else mismatchError">
      Confirm Password is required.
    </span>
    <ng-template #mismatchError>
      <span *ngIf="resetPasswordForm?.errors?.['mismatch']">
        Passwords do not match.
      </span>
    </ng-template>
  </small>


  <button pButton type="submit" label="Reset" [disabled]="resetPasswordForm.invalid"
    [ngStyle]="{'pointer-events': resetPasswordForm.invalid ? 'none' : 'auto' }"
    class="form-button hover:[box-shadow:0px_8px_15px_0px_rgba(50,82,223,0.3)]">
  </button>
</form>