<section class="sidebar" [ngClass]="{ 'collapsed': isCollapsed }">
    <div class="side__bar position-relative">
      <div class="mt-5">
        <ul>
          <li *ngFor="let item of menuList" (click)="onMenuClick(item)">
            <a
              *ngIf="item.route; else noRoute"
              [routerLink]="[item.route]"
              routerLinkActive="p-menuitem-active"
              [pTooltip]="isCollapsed ? item.name : undefined"
              tooltipPosition="right"
            >
              <i class="pi" [ngClass]="item.icon"></i>
              <h4>{{ item.name }}</h4>
            </a>
            <ng-template #noRoute>
              <a
                href="javascript:void(0)"
                [pTooltip]="isCollapsed ? item.name : undefined"
                tooltipPosition="right"
              >
                <i class="pi" [ngClass]="item.icon"></i>
                <h4>{{ item.name }}</h4>
              </a>
            </ng-template>
          </li>
        </ul>
      </div>
    </div>
  </section>
  