<h2 class="auth-title mb-2 mt-0">Sign up</h2>
<p class="auth-text">
  If you already have an account register <br />
  You can
  <span>
    <a routerLink="/auth/login">login here !</a>
  </span>
</p>

<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
  <ngx-dropzone class="ml-48 mb-2 rounded-circle w-[27%] my-0" (change)="onSelect($event)">
    <ngx-dropzone-label>Drop Your Photo!</ngx-dropzone-label>
  
    <ngx-dropzone-image-preview *ngFor="let img of imagePreviews; let i = index" [removable]="true" (removed)="onRemove(files[i])">
      <img 
        [src]="img"
        class="rounded-full border-4 border-blue-500 shadow-lg hover:scale-105 transition duration-300 w-full h-full object-cover"
      />
    </ngx-dropzone-image-preview>
    
  </ngx-dropzone>
  


 <!-- User Name + Email -->
  <div class="flex gap-0">
    <div class="w-[45%]">
  <app-auth-inputs formControlName="userName" label="User Name" placeholder="Please type here"
  id="userName">
</app-auth-inputs>

<small class="warning-text" *ngIf="registerForm?.get('userName')?.invalid && registerForm?.get('userName')?.touched">
<span *ngIf="registerForm?.get('userName')?.errors?.['required']">userName is required.</span>
</small>
    </div>
    <div class="w-[45%]">
      <app-auth-inputs formControlName="email" label="Email Address" placeholder="Please type here" id="email"
      type="email">
    </app-auth-inputs>
      <small class="warning-text" *ngIf="registerForm?.get('email')?.invalid && registerForm?.get('email')?.touched">
        <span *ngIf="registerForm?.get('email')?.errors?.['required']">Email is required.</span>
        <span *ngIf="registerForm?.get('email')?.errors?.['email']">Enter a valid email.</span>
      </small>

    </div>

  </div>
    
  <!-- Phone Number + Country -->
     <div class="flex gap-0">
      <div class="w-[45%]">
        <app-auth-inputs formControlName="phoneNumber" label="Phone Number" placeholder="Please type here"
        id="phoneNumber">
      </app-auth-inputs>
      <small class="warning-text" *ngIf="registerForm?.get('phoneNumber')?.invalid && registerForm?.get('phoneNumber')?.touched">
        <span *ngIf="registerForm?.get('phoneNumber')?.errors?.['required']">phoneNumber is required.</span>
      </small>
      </div>
      <div class="w-[45%]">
        <app-auth-inputs formControlName="country" label="Country" placeholder="Please type here"
        id="country">
      </app-auth-inputs>
        <small class="warning-text" *ngIf="registerForm?.get('country')?.invalid && registerForm?.get('country')?.touched">
          <span *ngIf="registerForm?.get('country')?.errors?.['required']">country is required.</span>
        </small>
      </div>
     </div>

  <!-- Password + Confirm Password -->
   <div class="flex gap-0">
    <div class="w-[45%]">
      <app-auth-inputs formControlName="password" label="Password" placeholder="Please type here" id="password"
      [type]="isPasswordHidden ? 'password' : 'text'">
        <a (click)="isPasswordHidden = !isPasswordHidden">
          <span
            class="material-icons eye-icon">
            {{ isPasswordHidden ? 'visibility_off' : 'visibility' }}
          </span>
        </a>
      </app-auth-inputs>
      <small class="warning-text" *ngIf="registerForm?.get('password')?.touched">
        <span *ngIf="registerForm?.get('password')?.errors?.['required']; else checkMinLength">
          Password is required.
        </span>
        <ng-template #checkMinLength>
          <span *ngIf="registerForm?.get('password')?.errors?.['minlength']; else checkPattern">
            Password must be at least 6 characters.
          </span>
        </ng-template>
        <ng-template #checkPattern>
          <span *ngIf="registerForm?.get('password')?.errors?.['pattern']">
            The password must include at least one lowercase letter,
            one uppercase letter, one digit, and one special
            character.
          </span>
        </ng-template>
      </small>
    </div>
    <div class="w-[45%]">
  <app-auth-inputs formControlName="confirmPassword" label="Confirm Password" placeholder="Please type here"
    id="confirmPassword" [type]="isConfirmPasswordHidden ? 'password' : 'text'">
    <a (click)="isConfirmPasswordHidden = !isConfirmPasswordHidden">
      <span
        class="material-icons eye-icon">
        {{ isConfirmPasswordHidden ? 'visibility_off' : 'visibility' }}
      </span>
    </a>
  </app-auth-inputs>
  <small class="warning-text" *ngIf="registerForm?.get('confirmPassword')?.touched">
    <span *ngIf="registerForm?.get('confirmPassword')?.errors?.['required']; else mismatchError">
      Confirm Password is required.
    </span>
    <ng-template #mismatchError>
      <span *ngIf="registerForm?.errors?.['mismatch']">
        Passwords do not match.
      </span>
    </ng-template>
  </small>
    </div>
   </div>
  <button pButton type="submit" label="Sign up" [disabled]="registerForm.invalid"
    [ngStyle]="{'pointer-events': registerForm.invalid ? 'none' : 'auto' }"
    class="form-button hover:[box-shadow:0px_8px_15px_0px_rgba(50,82,223,0.3)]">
  </button>
</form>