<div class="pb-4 mb-3">


<div class="w-full mx-auto grid sm:grid-cols-1  md:grid-cols-2 gap-8 p-5 border rounded   " >
  <div class=" rate relative w-full p-3">
   <p class=" span-content"> Rate </p>
   <p-rating [cancel]="false" [(ngModel)]="rating" [disabled]="!isUser"  />

   <div>
     <p class=" span-content pt-3 pb-1"> Message </p>
     <textarea  [(ngModel)]="review" (click)="checkAuth()"
     class="text-area-style" rows="4" placeholder="Write your message..."></textarea>
   </div>
   <button (click)=" createReview()" [disabled]="!rating || review==''"
   class="pageDetails-btn ">Rate</button>
  </div>
<!-- ----------------------------------------- -->
  <div  class="flex flex-col space-y-4">
   <p class=" span-content mb-6"> Add Your Comment </p>
   <div>
     <p class=" span-content pt-3 pb-1"> Message </p>
     <textarea   [(ngModel)]="comment" (click)="checkAuth()"
      class="text-area-style" rows="4" placeholder="Write your message..."></textarea>
   </div>
   <button (click)=" isEditComment? updateComment() : createComment()" [disabled]="!comment"
     [class]="isEditComment? ' update-btn' : 'pageDetails-btn' " >{{isEditComment?  'Update'  : 'Send'}}  </button>

    </div>
  </div>

  <!-- ------------ -->

<!-- button -->
  <div class=" ms-auto my-3  w-1/2 text-end ">
    <button class="pageDetails-btn "
     (click)="isShowAllComments = !isShowAllComments">
      {{isEditComment? 'Hide' : 'Show'}} All Comments
    </button>
    </div>
    <!-- ---- ------------------->
   <!-- show all comment && Review  -->
  <div *ngIf="isShowAllComments"
  class="py-5 my-5 w-full mx-auto grid sm:grid-cols-1  md:grid-cols-2 gap-8 p-5 border rounded  ">
    <!-- review -->
     <div class="review ">
   <p class=" text-xl font-bold text-landingContent-h2 pt-3 pb-1">All Reviews </p>
   <div class="flex items-start space-x-4 my-2 " *ngFor="let review of roomReviews">
    <div class="w-10 h-10 bg-purple-200 rounded-full text-center overflow-hidden">
      <img *ngIf="review.user.profileImage"
       [src]="review.user.profileImage" alt="" class=" m-auto object-cover w-full">
      <img *ngIf="!review.user.profileImage"
      src="../../../../../../assets/img/profile.png" alt="" class="rounded-full w-full">
    </div>
    <div class="bg-gray-100 p-3 rounded-xl flex-1">
      <p class="font-semibold text-sm mb-1">{{review.user.userName}}</p>
      <p-rating [cancel]="false" [(ngModel)]="review.rating" [disabled]="true" />
      <div class="flex justify-between items-center">
        <p class="text-sm text-gray-700 text-wrap">{{review.review}}</p>
        <p class="text-xs text-gray-500 text-end" >{{review.createdAt | date :'MMM d, y'}}</p>
      </div>

    </div>
    </div>
     </div>

   <!-- comment -->
    <div class="comment">
      <p class=" text-xl font-bold text-landingContent-h2 pt-3 pb-1">All Comments </p>
      <div class="flex items-start space-x-4 my-2 " *ngFor="let comment of roomComments">
        <div class="w-10 h-10 bg-purple-200 rounded-full text-center overflow-hidden">
          <img *ngIf="comment.user.profileImage"
           [src]="comment.user.profileImage" alt="" class=" m-auto object-cover w-full">
          <img *ngIf="!comment.user.profileImage"
          src="../../../../../../assets/img/profile.png" alt="" class="rounded-full w-full">
        </div>
        <div class="bg-gray-100 p-3 rounded-xl flex-1">
          <p class="font-semibold text-sm mb-1">{{comment.user.userName}}</p>

      <div class="flex justify-between items-center">
         <p class="text-sm text-gray-700">{{comment.comment}}.</p>
         <p class="text-xs text-gray-500 text-end" >{{comment.createdAt | date :'MMM d, y'}}</p>
      </div>

          <div class="text-xs text-gray-500 mt-2 flex space-x-4"
          *ngIf="comment.user._id == userID || comment.user.userName == userName " >
            <button (click)="editComment(comment)" [disabled]="isEditComment"
            class="hover:underline  disabled:opacity-10 ">Edit</button>
            <button (click)="deleteComment(comment._id)" [disabled]="isEditComment"
            class="hover:underline disabled:opacity-10">Delete</button>
          </div>

        </div>
        </div>

    </div>


</div>


