<app-landing-navbar></app-landing-navbar>
<div *ngIf="isLoading" class="text-center mt-5">
  <p>Loading...</p>
</div>
<div class="container m-auto w-4/5 mt-5">
    <h1 class="font-poppins text-3xl font-bold mb-6 text-center">Your Favorites</h1>
    <div class=" w-2/3 pt-3 pb-5 flex items-center justify-between  ">
      <div class="flex items-center justify-center ">
        <a routerLink="/landing"  class="p-content">Home</a>
        <p class="mx-7  p-content"> / </p>
        <a routerLink="landing/fav-items" routerLinkActive="span-content" class="span-content">Favorite</a>
        </div>
      </div>
    <h1 class="font-poppins mb-3 font-medium text-2xl leading-none tracking-tight">Your rooms</h1>
    
    <div *ngIf="!isLoading">
      <div *ngIf="isRoomsEmpty">
        <img src="../../../../assets/img/no-data.jfif" alt="No Data" class="m-auto" />
        <p class="font-poppins text-center">No data available</p>
      </div>
    <div *ngIf="!isRoomsEmpty">
      <div  class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4 auto-rows-[250px]">
        <ng-container *ngFor="let fav of favoriteRooms">
          <ng-container *ngFor="let room of fav.rooms">
            <div class="flex flex-col overflow-hidden">
              <div class="card-wrapper">
                <img [src]="room.images[0] || '/assets/img/Rectangle 3.png'" alt="Favorite Room Image" class="card-img" />
                <div class="card-footer-in">
                  <h3 class="text-xl font-bold">Stark House</h3>
                  <p class="text-sm">Malang, Indonesia</p>
              </div>
                <div class="overlay">
                  <div class="icon-container">
                    <i class="fas fa-heart" (click)="removeFav(room._id)"></i>
                  </div>
                </div>
              </div>
            </div>
          </ng-container>
        </ng-container>
      </div>
    </div>
  </div>
</div>
  

