<div class="flex flex-col gap-1 relative w-[90%]">
    <label *ngIf="label" [for]="id" class="label-style">
      {{ label }}
    </label>
    <div class="relative w-[90%]">
      <input
      [id]="id"
      class="input-style placeholder:text-darkGray placeholder:font-[400] placeholder:text-[16px] placeholder:leading-[170%] placeholder:tracking-[0] font-poppins"
      [placeholder]="placeholder"
      [value]="value"
      [disabled]="isDisabled"
      (input)="handleInput($event)"
      (blur)="onTouched()"
      [type]="type" 
    />
    <ng-content></ng-content>
    </div>
</div>