<!-- <button routerLink="/admin/rooms/add-rooms" class="bottom-2 m-5">Add New Room</button> -->
<section class="px-3">
<div class="container">
    <div class="flex flex-row">
        <div class="col-md-11">
            <div class="flex items-center justify-between my-3">
                <p class="font-medium text-[20px] leading-[100%] tracking-[0%]">Rooms Table Details <br>
                    <span class="font-normal text-[14px] leading-[100%] tracking-[0%]">
                        You can check all details
                    </span>
                </p>
                <button
                    class="font-bold font-inter
                        text-[16px] leading-[19.36px]
                        tracking-[0px] text-center bg-[rgba(32,63,199,1)] rounded-[8px]
                        text-white px-4 py-3" routerLink="/admin/rooms/add-rooms" >Add New Room</button>
            </div>
        </div>
    </div>
</div>

<div *ngIf="loading" class="loading-spinner">
    <i class="pi pi-spin pi-spinner text-blue-600 text-3xl"></i>
  </div>
  <div
    *ngIf="roomsList.length === 0"
    class="flex items-center justify-center my-3"
  >
    <img
      src="../../../../../../assets/img/no-data.jfif"
      alt="No Data Available"
      class="no-data-image"
    />
  </div>

<table *ngIf=" !loading && roomsList.length > 0" class="custom-table">
    <thead>
        <th>Room Number</th>
        <th>Price</th>
        <th>Discount</th>
        <th>createdAt</th>
        <th>Action</th>
    </thead>
    <tbody>

        <tr *ngFor="let room of roomsList">
            <td>{{ room.roomNumber }}</td>
            <td>{{ room.price}}</td>
            <td>{{ room.discount}}</td>
            <td>{{ room.createdAt | date:'short'}}</td>
            <td>
                <p-menu #menu [popup]="true" [model]="getActions(room)"></p-menu>
                <button
                pButton
                type="button"
                icon="pi pi-ellipsis-v"
                class="p-button-text"
                (click)="menu.toggle($event)"
                ></button>
            </td>
        </tr>
    </tbody>
</table>
<p-paginator
[rows]="rows"
[totalRecords]="totalCount"
[rowsPerPageOptions]="[5, 10, 20]"
(onPageChange)="onPageChange($event)"
styleClass="my-4"
/>
<!-- </section> -->



