<section class=" mt-5 ">
  <div class=" grid sm:grid-cols-2 justify-center items-center ">

    <div class="rigt-side">
      <h2 class="h2-content ">{{ 'homeSection.title' | translate }}</h2>
      <p class="p-content ">
        {{ 'homeSection.description' | translate }}
       </p>

       <div class="start-booking">
        <h6 class="text-landingContent-h2 text-xl font-medium">{{ 'homeSection.bookingTitle' | translate }}</h6>
             <!--    [iconDisplay]="'input'" -->
         <!-- date picker -->
        <div class="mt-3 w-full">
          <span for="icondisplay" class="span-content block mb-2"> {{ 'homeSection.pickDate' | translate }} </span>
          <!-- [minDate]="minDate" [disabled]="date < minDate"-->
          <p-calendar class=" "
              [(ngModel)]="rangeDates" selectionMode="range" [readonlyInput]="true"
              [showIcon]="true"
              [icon]="'pi pi-calendar-minus'"
              [minDate]="minDate"
              dateFormat="dd/mm/yy"
              inputId="icondisplay" 
          />
       </div>
         <!-- capacity -->
         <div class="my-3 ">
          <span class="span-content block mb-1">{{ 'homeSection.capacity' | translate }} </span>
          <div class="capacity">
           <button class="bg-[#E74C3C] main-btn capacity-btn" [disabled]="capacity == 0"
           (click)="removeCapacity()">
             <i class="pi pi-minus font-bold text-lg"></i>
            </button>
           <span class="span-content ">  {{ capacity }} {{ 'homeSection.person' | translate }}
          </span>
            <button class="bg-[#1ABC9C] main-btn capacity-btn"  [disabled]="capacity >= 8"
            (click)="addCapacity()">
              <i class="pi pi-plus font-bold text-lg"></i>
            </button>
          </div>

         </div>
         <!-- Explore -->
        <div class="w-1/2 mt-10">
          <button
          class="w-full bg-[#3252DF] main-btn py-2 px-4 span-content text-white "
          (click)="explore()"
          [disabled]="capacity == 0 || !rangeDates || rangeDates.length !== 2"
        >
          {{ 'homeSection.exploreBtn' | translate }}
        </button>
        </div>

       </div>
    </div>

    <div class="left-side p-2">
      <!--  class="h-full w-auto object-contain"   "w-full  object-cover" min-w-min -->
      <img src="../assets/img/banner.png" alt="" class="w-full ">
    </div>

  </div>
</section>
