<div class="min-h-[calc(100vh-150px)] flex flex-col justify-center items-center text-center px-4 animate-fade-in">
    <h2 class="text-3xl font-bold mb-4" style="color: #152C5B;">Yay! Completed</h2>
    
    <img src="/assets/img/succ.png" alt="Success" class="mb-6 drop-shadow-lg" style="width: 30%;"/>
    
    <p class="text-gray-600 mb-6 max-w-md">
      We will inform you via email later <br>
      once the transaction has been accepted
    </p>
  
    <button 
      routerLink="/landing/landing" 
      class="bg-blue-600 text-white px-6 py-2 rounded-md hover:bg-blue-700 transition-all duration-300 shadow"
    >
      Back to Home
    </button>
  </div>
  