
// btn
.main-btn {
  @apply text-white text-center rounded-md transition disabled:opacity-80 ;
  &:hover {
    @apply  cursor-pointer transition  disabled:cursor-not-allowed;
  }
}
.capacity-btn{
  @apply w-10 h-10 flex items-center justify-center ;
  &:hover {
    @apply  cursor-pointer transition  disabled:cursor-not-allowed;
  }
}
.pageDetails-btn {
  @apply bg-blue-600 text-white py-2 px-8 rounded-md disabled:opacity-70
   hover:bg-blue-700 shadow-md w-fit self-end ;
  &:hover {
    @apply  cursor-pointer transition  disabled:cursor-not-allowed;
  }
}
.update-btn {
  @apply main-btn bg-yellow-400 py-2 px-8 rounded-md shadow-md w-fit self-end ;

}

// ---------------------
// -  main color in page
.h2-content {
  @apply font-bold text-4xl p-2 text-landingContent-h2;
}

.p-content {
  @apply  font-light text-base p-1 text-landingContent-p ;
}
.span-content {
  @apply text-base font-medium text-landingContent-h2 ;
}

// // ------------------------
//       primeNg
// date picker
::ng-deep .p-calendar .p-inputtext {
  background-color: #F5F6F8 !important;
  padding: .2rem .4rem !important;
  border: 1px solid #D1D5DB !important;
}
::ng-deep  .p-calendar.p-calendar-w-btn{
  width: 75% !important;
  border-radius: .5rem;
  // padding: .2rem .4rem !important;
}
::ng-deep .p-calendar-w-btn .p-datepicker-trigger{
  background-color:#152C5B !important;
  border-bottom-right-radius:.5rem;
  border-top-right-radius:.5rem;
  color: white;
}
// -------
// rate
:host ::ng-deep
    .p-rating-icon:not(.p-rating-cancel){
    color: #DFCB1D !important;
}
// -----------------------------------------------------------

