<div class=" pt-5">
<h1 class="text-3xl font-bold mb-6">{{ 'Cards.mostPopular' | translate }}</h1>

    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-4 auto-rows-[250px]">

    <div *ngIf="rooms.length > 0" class="card-wrapper row-span-2">
        <img
        [src]="rooms[0].images[0] || '/assets/img/Rectangle 3.png'"
        alt="Room Image"
        class="card-img"
        />
        <div class="card-body">
        <p class="font-semibold">${{ rooms[0].price }} {{ 'Cards.perNight' | translate }}</p>
        </div>
        <div class="card-footer-in">
            <h3 class="text-xl font-bold">{{ rooms[0].roomNumber }}</h3>
        <p class="text-sm">Malang, Indonesia</p>
        </div>
        <div class="overlay">
            <div class="icon-container">
                <i class="fas fa-heart" (click)="checkAuth(rooms[0]._id)"></i>
                <i class="fas fa-eye cursor-pointer" (click)="goToDetails(rooms[0]._id)"></i>
            </div>
        </div>
    </div>
    <ng-container *ngFor="let room of rooms.slice(1, 5)">
        <div class="card-wrapper">
        <img
            [src]="room.images[0] || '/assets/img/Rectangle 3.png'"
            alt="Room Image"
            class="card-img"
        />
        <div class="card-body">
            <p class="font-semibold">${{ room.price }} {{ 'Cards.perNight' | translate }}</p>
        </div>
        <div class="card-footer-in">
            <h3 class="text-xl font-bold">{{ room.roomNumber }}</h3>
            <p class="text-sm">Malang, Indonesia</p>
        </div>
        <div class="overlay">
            <div class="icon-container">
                <i class="fas fa-heart" (click)="checkAuth(room._id)"></i>
                <i class="fas fa-eye cursor-pointer" (click)="goToDetails(room._id)"></i>
            </div>
        </div>
        </div>
    </ng-container>
    </div>
</div>
<section>
<div class="pt-5">
<h1 class="text-3xl font-bold mb-6">{{ 'Cards.beautyBackyard' | translate }}</h1>
    <div class="grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 gap-4 auto-rows-[200px]">
    <ng-container *ngFor="let room of rooms.slice(5, 9)">
        <div class="card-wrapper">
        <img
            [src]="room.images[0] || '/assets/img/Rectangle 3.png'"
            alt="Room Image"
            class="card-img"
        />
        <div class="card-body">
            <p class="font-semibold">${{ room.price }} {{ 'Cards.perNight' | translate }}</p>
        </div>
        <div class="card-footer-in">
            <h3 class="text-xl font-bold">{{ room.roomNumber }}</h3>
            <p class="text-sm">Malang, Indonesia</p>
        </div>
        <div class="overlay">
            <div class="icon-container">
                <i class="fas fa-heart" (click)="checkAuth(room._id)"></i>
                <i class="fas fa-eye cursor-pointer" (click)="goToDetails(room._id)"></i>
            </div>
        </div>
        </div>
    </ng-container>
    </div>
</div>

<!------------>

<div class="pt-5">
    <h1 class="text-3xl font-bold mb-6">{{ 'Cards.largeLivingRoom' | translate }}</h1>
    <div class="grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 gap-4 auto-rows-[200px]">
        <ng-container *ngFor="let room of rooms.slice(9, 13)">
        <div class="card-wrapper">
            <img
            [src]="room.images[0] || '/assets/img/Rectangle 3.png'"
            alt="Room Image"
            class="card-img"
            />
            <div class="card-body">
            <p class="font-semibold">${{ room.price }} {{ 'Cards.perNight' | translate }}</p>
            </div>
            <div class="card-footer-in">
            <h3 class="text-xl font-bold">{{ room.roomNumber }}</h3>
            <p class="text-sm">Malang, Indonesia</p>
            </div>
            <div class="overlay">
                <div class="icon-container">
                    <i class="fas fa-heart" (click)="checkAuth(room._id)"></i>
                    <i class="fas fa-eye cursor-pointer" (click)="goToDetails(room._id)"></i>
                </div>
            </div>
        </div>
    </ng-container>
</div>
</div>
</section>
